<!-- Latest Hindi -->
<section id="latest-hindi">
    <!-- Section Title -->
    <h1 class="section-title">Based on your recent listening</h1>
    <div class="section-container d-flex">

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/a.jpg" alt="">
                </div>
                <div class="details">
                    <p class="name">be your own bestfriend</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/b.jpg" alt="">
                </div>
                <div class="details">
                    <p class="name">shoulder to cry on</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/c.jpg" alt="">
                </div>
                <div class="details">
                    <p class="name">i'm tired</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/d.jpg" alt="">
                </div>
                <div class="details">
                    <p class="name">ang lalim</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/e.jpg" alt="">
                </div>
                <div class="details">
                    <p class="name">second lead</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/f.jpg" alt="">
                </div>
                <div class="details">
                    <p class="name">don't look at me</p>
                </div>
            </a>
        </div>
    </div>
</section>