<div class="container main-container d-flex">

    <!--  Main Section -->
    <main class="main-section col">

        <!-- Carousel Section -->
        <header>
            <div class="carousel ">
                <div class="row d-flex">
                    <div class="carousel-item active">
                        <img src="img/r.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="img/sab.jpg" alt="">
                    </div>
                    <div class="carousel-item">
                        <img src="img/niki.jpg" alt="">
                    </div>
                </div>

            </div>
        </header>
        <!-- End Carousel Section -->