
            <!-- Popular Categories -->
            <section id="mood">
                <!-- Section Title -->
                <h1 class="section-title"></h1>

                <div class="section-container d-flex">
                    <!-- Mood Element -->
                    <div class="mood-element">
                        <div class="name d-flex">
                            party
                        </div>
                        <!-- Image with play pause hover effect -->
                        <a href="playlist.html">
                            <div class="image-container play-pause">
                                <img src="img/party.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Mood Element -->

                    <!-- Mood Element -->
                    <div class="mood-element">
                        <div class="name">
                            electronic
                        </div>
                        <!-- Image with play pause hover effect -->
                        <a href="playlist.html">
                            <div class="image-container play-pause">
                                <img src="img/electronic.jpeg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Mood Element -->

                    <!-- Mood Element -->
                    <div class="mood-element">
                        <div class="name">
                            road trip
                        </div>
                        <!-- Image with play pause hover effect -->
                        <a href="playlist.html">
                            <div class="image-container play-pause">
                                <img src="img/roadtrip.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Mood Element -->
                </div>
            </section>