
    <!-- Container contains Main section and Queue Section -->
    <div class="container main-container d-flex">

        <!--  Main Section -->
        <main class="main-section col d-flex">

            <!-- Hero Section -->
            <div class="hero scale-up-center d-flex">

                <!-- Left part -->
                <div class="left">
                    <div class="image-container">
                        <img src="img/roan.jpg" alt="" />
                    </div>
                </div>

                <!-- Right Part -->
                <div class="right d-flex">

                    <!-- Artist name -->
                    <div class="heading d-flex">
                        <div class="left">
                            <p class="artist-name">Chappell Roan</p>
                            <p class="bold">Verified Artist</p>
                        </div>
                        <div class="right">
                            <span class="followers bold">45,340,548</span> monthly listeners
                        </div>
                    </div>

                    <!-- Description about artist -->
                    <div class="description">
                        Kayleigh Rose Amstutz, known professionally as Chappell Roan, is an American singer and songwriter. 
                        Working with collaborator Dan Nigro, the majority of her music is inspired by 1980s synth-pop and early 2000s pop hits.
                    </div>

                    <!-- Button controls -->
                    <div class="controls">
                        <button class="btn">Play All</button>
                        <button class="btn">Follow</button>
                    </div>

                    <!-- Total tracks and albums -->
                    <div class="songs d-flex">
                        <div class="tracks"><span>76</span> Tracks</div>
                        <div class="albums"><span>14</span> Albums</div>
                    </div>
                </div>

            </div>
            <!-- End Hero Section -->

            <!-- All Songs -->
            <div class="all-songs scale-up-center d-flex">

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">01</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/r.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Good Luck, Babe!</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">02</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/roan.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">HOT TO GO!</div>
                            <div class="singer-name">Video</div>

                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">03</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/roan.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Pink Pony Club</div>
                            <div class="singer-name">Video</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">04</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/roan.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Red Wine Supernova</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">05</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/roan.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Casual</div>
                            <div class="singer-name">Video</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">06</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/roan.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">My Kink Is Karma</div>
                        </div>
                    </div>

                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->
            </div>
            <!-- End All Songs -->

        </main>
        <!-- End Main Section -->

        <!-- Sidebar for Desktop -->
        <aside class="col">
        
 