
    <!-- Container contains Main section and Queue Section -->
    <div class="container main-container d-flex">

        <!--  Main Section -->
        <main class="main-section col d-flex">

            <!-- Hero Section -->
            <div class="hero scale-up-center d-flex">

                <!-- Left part -->
                <div class="left">
                    <div class="image-container">
                        <img src="img/harry.jpg" alt="" />
                    </div>
                </div>

                <!-- Right Part -->
                <div class="right d-flex">

                    <!-- Artist name -->
                    <div class="heading d-flex">
                        <div class="left">
                            <p class="artist-name">Harry Styles</p>
                            <p class="bold">Verified Artist</p>
                        </div>
                        <div class="right">
                            <span class="followers bold">47,187,244</span> monthly listeners
                        </div>
                    </div>

                    <!-- Description about artist -->
                    <div class="description">
                        LHarry Edward Styles is an English singer. 
                        Known for his influence in popular culture, showmanship, artistry, and philanthropy, 
                        he is regarded as one of the most influential men in music and fashion and a subject of widespread public interest with a vast fanbase.
                    </div>

                    <!-- Button controls -->
                    <div class="controls">
                        <button class="btn">Play All</button>
                        <button class="btn">Follow</button>
                    </div>

                    <!-- Total tracks and albums -->
                    <div class="songs d-flex">
                        <div class="tracks"><span>44</span> Tracks</div>
                        <div class="albums"><span>5</span> Albums</div>
                    </div>
                </div>

            </div>
            <!-- End Hero Section -->

            <!-- All Songs -->
            <div class="all-songs scale-up-center d-flex">

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">01</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/hh.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">As It Was</div>
                            <div class="singer-name">Video</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">02</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/melon.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Watermelon Sugar</div>
                            <div class="singer-name">Video</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">03</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/sign.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Sign ot the Times</div>
                            <div class="singer-name">Video</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">04</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/melon.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Adore You</div>
                            <div class="singer-name">Video</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">05</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/melon.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Falling</div>
                            <div class="singer-name">Video</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">06</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/hh.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Late Night Talking</div>
                        </div>
                    </div>

                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->
            </div>
            <!-- End All Songs -->

        </main>
        <!-- End Main Section -->

        <!-- Sidebar for Desktop -->
        <aside class="col">
        
 