 <!-- Latest Artist -->
 <div class="latest-artist d-flex">
    <!-- Left part contains image and artist details -->
    <div class="left d-flex">
        <!-- Image with play pause hover effect -->
        <a href="/tomorrow">
            <div class="image-container play-pause" tabindex="1">
                <img src="img/tihtm.jpg" alt="">
            </div>
        </a>
        <!-- Artist details -->
        <div class="details">
            <p class="name">This Is How Tomorrow Moves</p>
            <p class="artist">beabadoobee</p>
        </div>
    </div>

    <!-- Right part contains duration and dropdown menu -->
    <div class="right d-flex">
        <!-- Dropdown container-->
        <div class="dropdown-container" tabindex="1">
            <!-- Dropdown -->
            <div class="dropdown">
                <ul class="list">
                    <li>
                        <a href="#player">
                            <span class="material-icons-round ">
                                play_arrow
                            </span>
                            <span> Play Now</span>
                        </a>
                    </li>
                    <li>
                        <a href="#player">
                            <span class="material-icons-round ">
                                add
                            </span>
                            <span> Add to Queue</span>
                        </a>
                    </li>
                    <li>
                        <a href="#player">
                            <span class="material-icons-round ">
                                playlist_add
                            </span>
                            <span> Add to Favorites</span>
                        </a>
                    </li>
                    <li>
                        <a href="#player">
                            <span class="material-icons-round ">
                                playlist_add
                            </span>
                            <span> Add to Playlist</span>
                        </a>
                    </li>
                    <li>
                        <a href="#player">
                            <span class="material-icons-round ">
                                info
                            </span>
                            <span> Get Info</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Dropdown icon -->
            <div class="menu-icon">
                <span class="material-icons-round">
                    more_horiz
                </span>
            </div>
        </div>
        <!-- Duration -->
        <div class="length">
            4:44
        </div>

    </div>
</div>