<div class="navbar-fixed">
    <nav class="navbar">

        <!-- Left part of navbar contains logo and menu -->
        <div class="left d-flex">
            <div class="logo d-flex">
                <div class="logo-img">
                 <img src="img/logo1.svg" alt=""></a>
                </div>
                <span class="logo-name">
                    <span class="focus-in-contract-bck">Badoobee</span><br>
                </span>
            </div>
            <span class="link">
                <a href="/">
                    <span class="material-icons-round"> home </span>
                    Home
                </a>
            </span>
            <span class="link">
                <a href="/list">Playlist</a>
            </span>

        </div>

        <!-- Right part of navbar contains search bar, notification, user pic -->
        <div class="right d-flex">
            <!-- Search bar -->
            <div class="search">
                <span class="material-icons-round"> search </span>
                <input type="text" placeholder="Search" />
                <span class="material-icons-round"> mic </span>
            </div>

            <!-- Notification icon -->
            <div class="notif">
                <i class="material-icons-round"> notifications </i>
                <i class="material-icons-round"> stop_circle </i>
            </div>

            <!-- Profile pic -->
            <div class="profile-pic">
                <img src="img/loml.jpg" alt="" />
            </div>
        </div>
    </nav>
</div>