<section id="latest-release"></section>
    <!-- Section Title -->
    <h1 class="section-title">
        News and opinion podcasts
    </h1>
    <div class="section-container d-flex">
        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/1.jpg" alt="">
                </div>

                <div class="details">
                    <p class="name">The Daily</p>
                    <p class="date">The New York Times</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/2.jpg" alt="">
                </div>

                <div class="details">
                    <p class="name">Global News Podcast</p>
                    <p class="date">BBC World Service</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/3.jpg" alt="">
                </div>

                <div class="details">
                    <p class="name">FT News Briefing</p>
                    <p class="date">Financial Times</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/4.jpg" alt="">
                </div>

                <div class="details">
                    <p class="name">CNN 5 Things</p>
                    <p class="date">CNN</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/5.jpg" alt="">
                </div>

                <div class="details">
                    <p class="name">ABS-CBN News Flash</p>
                    <p class="date">ABS-CBN News Flash</p>
                </div>
            </a>
        </div>
        <!-- End Latest song element -->

        <!-- Latest song element -->
        <div class="latest-songs">
            <a href="#player">

                <!-- Image with play pause hover effect -->
                <div class="image-container play-pause">
                    <img src="img/6.jpg" alt="">
                </div>

                <div class="details">
                    <p class="name">Teka Teka</p>
                    <p class="date">PumaPodcast</p>
                </div>
            </a>
        </div>
    </div>
</section>