<section id="latest-release"></section>
    <!-- Section Title -->
    <h1 class="section-title">
        Recently Played
    </h1>
            <div class="section-container d-flex">
                <!-- Stations Icon -->
                <div class="stations d-flex">
                    <div class="image-container"><img src="img/logo.png" alt=""></div>
                    <div class="name">
                        Playlist
                    </div>
                </div>

                <!-- Category Container -->
                <div class="category-container d-flex">
                    <!-- Category -->
                    <div class="category">
                        <div class="name d-flex love">
                            0807
                        </div>

                        <!-- Image with play pause hover effect -->
                        <a href="/aug">
                            <div class="image-container play-pause">
                                <img src="img/0807.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Category -->

                    <!-- Category -->
                    <div class="category">
                        <div class="name d-flex retro">
                            muffled sobs
                        </div>

                        <!-- Image with play pause hover effect -->
                        <a href="/sobs">
                            <div class="image-container play-pause">
                                <img src="img/sobs.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Category -->

                    <!-- Category -->
                    <div class="category">
                        <div class="name d-flex chill">
                            rnb bop
                        </div>

                        <!-- Image with play pause hover effect -->
                        <a href="/rnb">
                            <div class="image-container play-pause">
                                <img src="img/rnb.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Category -->

                    <!-- Category -->
                    <div class="category">
                        <div class="name d-flex workout">
                            studio ghibli
                        </div>

                        <!-- Image with play pause hover effect -->
                        <a href="/ghibli">
                            <div class="image-container play-pause">
                                <img src="img/ghibli.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Category -->

                    <!-- Category -->
                    <div class="category ">
                        <div class="name d-flex rock">
                            supercut
                        </div>

                        <!-- Image with play pause hover effect -->
                        <a href="/supercut">
                            <div class="image-container play-pause">
                                <img src="img/supercut.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Category -->

                    <!-- Category -->
                    <div class="category">
                        <div class="name d-flex pop">
                            waiting room
                        </div>

                        <!-- Image with play pause hover effect -->
                        <a href="/waiting">
                            <div class="image-container play-pause">
                                <img src="img/room.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- End Category -->
                </div>

            </div>
        </section>