           <!-- Popular Artists-->
           <section id="popular-artists">
            <!-- Section Title -->
            <h1 class="section-title">
                Popular Artists
            </h1>

            <div class="section-container d-flex">
                <!-- Popular Artist -->
                <div class="popular-artist">
                    <!-- Image with play pause hover effect -->
                    <a href="/chappell">
                        <div class="image-container play-pause">
                            <img src="img/roan.jpg" alt="">
                        </div>
                    </a>
                    <div class="name">
                        Chappell Roan
                    </div>
                </div>
                <!-- End Popular Artist -->

                <!-- Popular Artist -->
                <div class="popular-artist">
                    <!-- Image with play pause hover effect -->
                    <a href="/niki">
                        <div class="image-container play-pause">
                            <img src="img/niks.jpg" alt="">
                        </div>
                    </a>
                    <div class="name">
                        NIKI
                    </div>
                </div>
                <!-- End Popular Artist -->

                <!-- Popular Artist -->
                <div class="popular-artist">
                    <!-- Image with play pause hover effect -->
                    <a href="/taylor">
                        <div class="image-container play-pause">
                            <img src="img/tay.jpg" alt="">
                        </div>
                    </a>
                    <div class="name">
                        Taylor Swift
                    </div>
                </div>
                <!-- End Popular Artist -->

                <!-- Popular Artist -->
                <div class="popular-artist">
                    <!-- Image with play pause hover effect -->
                    <a href="/laufey">
                        <div class="image-container play-pause">
                            <img src="img/laufey.jpg" alt="">
                        </div>
                    </a>
                    <div class="name">
                        Laufey
                    </div>
                </div>
                <!-- End Popular Artist -->

                <!-- Popular Artist -->
                <div class="popular-artist">
                    <!-- Image with play pause hover effect -->
                    <a href="/harry">
                        <div class="image-container play-pause">
                            <img src="img/harry.jpg" alt="">
                        </div>
                    </a>
                    <div class="name">
                        Harry Styles
                    </div>
                </div>
                <!-- End Popular Artist -->

                <!-- Popular Artist -->
                <div class="popular-artist">
                    <!-- Image with play pause hover effect -->
                    <a href="/bea">
                        <div class="image-container play-pause">
                            <img src="img/bea.jpg" alt="">
                        </div>
                    </a>
                    <div class="name">
                        beabadoobee
                    </div>
                </div>
                <!-- End Popular Artist -->

            </div>
        </section>