</main>
<!--  End Main Section -->

<!-- Sidebar for Desktop -->
<aside class="col">

    <!-- Navbar with queue menu -->
    <div class="navbar-fixed d-flex">
        <!-- left  -->
        <div class="left">Queue</div>
    
        <!-- Right part contains queue dropdown menu -->
        <div class="right">
    
            <!-- Dropdown container -->
            <div class="dropdown-container queue-menu" tabindex="1">
                Queue
    
                <!-- down arrow icon -->
                <span class="material-icons-round">
                    keyboard_arrow_down
                </span>
    
                <!-- dropdown -->
                <div class="dropdown">
                    <ul class="list">
                        <li>
                            <a href="#player">
                                <span class="material-icons-round ">
                                    queue_music
                                </span>
                                <span> Playlists</span>
                            </a>
                        </li>
                        <li>
                            <a href="#player">
                                <span class="material-icons-round ">
                                    favorite
                                </span>
                                <span> Favourites Songs</span>
                            </a>
                        </li>
    
                    </ul>
                </div>
    
            </div>
        </div>
    </div>
    <!-- Navbar with queue menu -->
    
    <!-- Sidebar main i.e. Song container -->
    <div class="sidebar-main">
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">01</div>
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/i-dont-care.jpg" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">I Don't Care</div>
                    <div class="singer-name">Ed Sheeran</div>
                </div>
            </div>
    
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">02</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/dusk-till-down.jpeg" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">Dusk Till Down</div>
                    <div class="singer-name">Zayn Malik</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">03</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/vaatthi.jpg" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">Vaathi Coming</div>
                    <div class="singer-name">Anirudh Ravichander</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="current-playing">
                    <span class="material-icons-round">
                        bar_chart
                    </span>
                </div>
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/in-your-eyes.jpeg" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">In Your Eyes</div>
                    <div class="singer-name">The Weeknd</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">01</div>
    
                <a href="#player">
                    <div class="image-container play-pause" tabindex="1">
                        <img src="img/shawnmendes.jpg" alt="">
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name"> Treat You Better</div>
                    <div class="singer-name">Shawn Mendes</div>
                </div>
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">02</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/heartless.webp" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">Heartless</div>
                    <div class="singer-name">The Weeknd</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">03</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/blinding-ligghts.webp" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">Blinding Lights</div>
                    <div class="singer-name">The Weeknd</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">01</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/starboy.webp" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">Starboy</div>
                    <div class="singer-name">The Weeknd</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">02</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/the-hills.webp" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">The Hills</div>
                    <div class="singer-name">The Weeknd</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">03</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/i-feel-it-coming.webp" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">I feel it coming</div>
                    <div class="singer-name">The Weeknd</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">01</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/secrets.webp" alt="" />
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name">Secrets</div>
                    <div class="singer-name">The Weeknd</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">02</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/EdSheeran.jpg" alt="">
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name"> Thinking out loud</div>
                    <div class="singer-name">Ed Sheeran</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
        <!-- End Song -->
    
        <!-- Song -->
        <div class="song d-flex">
    
            <!-- Left part contains image and song details -->
            <div class="left d-flex">
                <div class="count">03</div>
    
                <a href="#player">
                    <div class="image-container play-pause">
                        <img src="img/love-me.jpg" alt="">
                    </div>
                </a>
                <div class="name d-flex">
                    <div class="song-name"> Love Me Like You Do</div>
                    <div class="singer-name">Ellie Goulding</div>
                </div>
    
            </div>
            <div class="right">
                <!-- used checkbox for toggling -->
                <input type="checkbox" class="toggle-button">
                <div class="favourite">
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar main -->

</aside>
<!-- End Sidebar -->

</div>
<!-- End Container -->