
    <!-- Container contains Main section and Queue Section -->
    <div class="container main-container d-flex">

        <!--  Main Section -->
        <main class="main-section col d-flex">

            <!-- Hero Section -->
            <div class="hero scale-up-center d-flex">

                <!-- Left part -->
                <div class="left">
                    <div class="image-container">
                        <img src="img/tay.jpg" alt="" />
                    </div>
                </div>

                <!-- Right Part -->
                <div class="right d-flex">

                    <!-- Artist name -->
                    <div class="heading d-flex">
                        <div class="left">
                            <p class="artist-name">Taylor Swift</p>
                            <p class="bold">Verified Artist</p>
                        </div>
                        <div class="right">
                            <span class="followers bold">92,157,032</span> monthly listeners
                        </div>
                    </div>

                    <!-- Description about artist -->
                    <div class="description">
                        Taylor Alison Swift is an American singer-songwriter. 
                        Known for her autobiographical songwriting, artistic reinventions, and cultural impact, 
                        Swift is a leading figure in popular music and the subject of widespread public interest.
                    </div>

                    <!-- Button controls -->
                    <div class="controls">
                        <button class="btn">Play All</button>
                        <button class="btn">Follow</button>
                    </div>

                    <!-- Total tracks and albums -->
                    <div class="songs d-flex">
                        <div class="tracks"><span>274</span> Tracks</div>
                        <div class="albums"><span>14</span> Albums</div>
                    </div>
                </div>

            </div>
            <!-- End Hero Section -->

            <!-- All Songs -->
            <div class="all-songs scale-up-center d-flex">

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">01</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/cruel.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Cruel Summer</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">02</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/poet.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Fortnight(feat.Post Malone)</div>
                            <div class="singer-name">Video</div>

                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">03</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/poet.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">I Can Do It With a Broken Heart</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">04</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/folk.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">august</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">05</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/cruel.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Lover</div>
                            <div class="singer-name">Video</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">06</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/folk.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">cardigan</div>
                            <div class="singer-name">Video</div>

                        </div>
                    </div>

                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->
            </div>
            <!-- End All Songs -->

        </main>
        <!-- End Main Section -->

        <!-- Sidebar for Desktop -->
        <aside class="col">
        
 