
    <!-- Container contains Main section and Queue Section -->
    <div class="container main-container d-flex">

        <!--  Main Section -->
        <main class="main-section col d-flex">

            <!-- Hero Section -->
            <div class="hero scale-up-center d-flex">

                <!-- Left part -->
                <div class="left">
                    <div class="image-container">
                        <img src="img/ttpd.jpg" alt="" />
                    </div>
                </div>

                <!-- Right Part -->
                <div class="right d-flex">

                    <!-- Artist name -->
                    <div class="heading d-flex">
                        <div class="left">
                            <p class="artist-name">THE TORTURED POETS DEPARTMENT: THE ANTHOLOGY</p>
                            <p class="bold">Album</p>
                        </div>
                        <div class="right">
                            <span class="followers bold"></span>
                        </div>
                    </div>

                    <!-- Description about artist -->
                    <div class="description">
                    </div>

                    <!-- Button controls -->
                    <div class="controls">
                        <button class="btn">Play All</button>
                        <button class="btn"></button>
                    </div>

                    <!-- Total tracks and albums -->
                    <div class="songs d-flex">
                        <div class="tracks"><span>5 songs</span></div>
                        <div class="albums"><span>35min 96sec</span> </div>
                    </div>
                </div>

            </div>
            <!-- End Hero Section -->

            <!-- All Songs -->
            <div class="all-songs scale-up-center d-flex">

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">01</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/ttpd.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Down Bad</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">02</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/ttpd.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">So Long, London</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">03</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/ttpd.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Guilty as Sin?</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">04</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/ttpd.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">loml</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->
                <div class="song d-flex">
                    <!-- Left part -->
                    <div class="left d-flex">
                        <div class="count">05</div>
                        <a href="#player">
                            <div class="image-container play-pause">
                                <img src="img/ttpd.jpg" alt="" />
                            </div>
                        </a>
                        <div class="name d-flex">
                            <div class="song-name">Cassandra</div>
                        </div>
                    </div>
                    <!-- Right part -->
                    <div class="right d-flex">
                        <!-- checkbox used for toggling favourite button -->
                        <input type="checkbox" class="toggle-button" />
                        <div class="favourite"></div>
                        <span class="material-icons-round"> add </span>
                    </div>
                </div>
                <!-- End Song -->

                <!-- Song -->


        </main>
        <!-- End Main Section -->

        <!-- Sidebar for Desktop -->
        <aside class="col">
        
 